# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel
public/img/export/fabio.zip
public/img/export/headshot-fabio-1-2022-11-01.jpg
public/img/export/headshot-fabio-2-2022-11-01.jpg
public/img/export/headshot-leo-1-2022-11-01.jpg
public/img/export/headshot-leo-2-2022-11-01.jpg
public/img/export/headshot-matthäus-1-2022-11-01.jpg
public/img/export/headshot-matthäus-2-2022-11-01.jpg
public/img/export/leo.zip
public/img/export/matthäus.zip
